In [ ]:
import pandas as pd

In [ ]:
import numpy as np
import pickle

In [ ]:
with open('/content/Mark_Predicton','rb') as f:
 reg=pickle.load(f)

In [ ]:
df=pd.read_csv('/content/Test_Sample.csv')
df

   CIA_1  CIA_2  CIA_3
0     72     72     74
1     69     90     88
2     90     95     93
3     47     57     44
4     76     78     75

In [ ]:
reg.predict(df)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

array([70.80866694, 69.08001779, 83.80127153, 53.90748173, 73.90012434])

In [ ]:
pred=reg.predict(df)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:444: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  f"X has feature names, but {self.__class__.__name__} was fitted without"

In [ ]:
df['FINAL_MARKS']=pred
df

   CIA_1  CIA_2  CIA_3  FINAL_MARKS
0     72     72     74    70.808667
1     69     90     88    69.080018
2     90     95     93    83.801272
3     47     57     44    53.907482
4     76     78     75    73.900124

In [ ]:
df.to_csv('markprediction.csv', index=False)